
#topbar{
	width: 100%;
	height: 85px;
	background-color: #B22222;

	
}
 #topbar a{
	color: white;
	font-size: 25px;
	margin: 20px;
	font-family: Mija;
}

 #topbar ul{
	list-style: none;
    padding-top: 20px;
	min-width: 696px;

}

#topbar button{
	background-color: #800000;
	border:1px solid #800000;
}
img{
	border-radius: 10px;
	border:5px solid white;
}
.grid-container img:hover{
	transform: rotate(0);
}
#topbar button{
	color: white;
	border-radius: 20px;
}
ul li{
	display: inline;
}
.headerlatest{
	width: 20%;
	height: 14%;
    margin-left: 40%;
	background-color: white;
	position: absolute;
	text-align: center;
	top: 100px;
	}
h1{
	color: black;
	font-size: 20px;
}
h2{
	font-family: Mija;
}
h5{
font-family: Elena;
text-decoration-line: underline;
font-size: 20px;
}
#search{
	width: 21%;
	text-align:center;
	font-size: 22px;
}
.fa {
 display:inline-block;
 font:normal normal normal 14px/1 FontAwesome;
 font-size:inherit;
 text-rendering:auto;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 margin-left: -250px;

}
#navbtn :after{
	background-image: url(cat.png);

}


.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 0.2px;
  padding: 1px;

}
.grid-container img{
float: left;
margin-left: 30px;
margin-top: 100px;
/*transform: scale(.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));*/
transform-origin: 0 100%;
transition: transform .2s;
transform: rotateZ(-20deg);
}

.grid-container > div {
   padding: 20px 0;
  font-size: 30px;
  color: white;
  text-align: center;
  height: 100vh;
}
.item3{
	background-color:#B22222;
		
}
.item3 button{
	
}
.topitem3{
	position: absolute;
	top: 50px;
	display: inline;
	
}
.topitem3 button{
	margin-top: 100px;
	margin-left: 15px;
	width: 150px;
	height: 30px;
	color: white;
	background-color: #B22222;
	border-radius: 10px;
}
.item4{
	background-color:#B22222;
	
	
	border-bottom: 0.1px solid #B22222;
}
.item2{
	background-color:#800000;
		
	}

.item5{
	background-color:#800000;
	
	}
.grid-container h2{
	margin-top: 100px;	
	}

a{
	color: white;
}
button{
	font-size: 20px;
	color: blue;
}

.main{
	margin-left: 50px;
	display: inline-grid;
    grid-template-columns: 30% 30% 30%;
	grid-column-gap: 3em;
	grid-row-gap: 7em;
	
}
.main2{
	display: inline-grid;
	grid-template-columns: 65% 35%;
	grid-gap: 1em;
	color: white;

}
.main2 button{
	width: 50%;
}
.contain{
	display: grid;
	grid-template-columns: 30% 30% 30%;
	grid-gap: 3em;
}
.contain a{
	color: black;
	text-decoration-line: underline;
}
.members1{
	background-color:#B22222;
	height: 90vh;
	margin-top: 70px;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;

}
.members1 img{
	margin: 5px;

}
.members1 h5 {
	margin-top: 0px;
	font-size: 30px;
}
.members1 p{
	font-size: 20px;
}
.members{
	color: black;
	margin-top: 168px;
	margin-left: 20px;
}
.members a{
	color: black;
	font-size: 28px;
}
.days{
	width: 55vh;
	height: 50vh;
}
.days a{
	color:black;
	font-size: 23px;
}
.days p{
	font-size: calc(.85em + .2vw);

}
.days h5{
	font-family: Elena;
}
.days span a{
	color: #666;
    text-decoration: none;
    padding: 10px 0;
    background-image: linear-gradient(#666,#666);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: cenpadding: 10px 0;
    background-image: linear-gradient(#666,#666);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: center bottom 29%;
    background-origin: padding-box;
    text-shadow: 1px 0 #f6f3f2, 2px 0 #f6f3f2, 1px 0 #f6f3f2, -1px 0 #f6f3f2, -2px 0 #f6f3f2, -3px 0 #f6f3f2;
    transition: color .1s ease-out;ter bottom 29%;
    background-origin: padding-box;
    text-shadow: 1px 0 #f6f3f2, 2px 0 #f6f3f2, 1px 0 #f6f3f2, -1px 0 #f6f3f2, -2px 0 #f6f3f2, -3px 0 #f6f3f2;
    transition: color .1s ease-out;
    font-size: 18px;
}
.contain{
	display: inline-flex;
	grid-auto-columns: auto;
}

.smashingTv{
	background-color: #B22222;
	margin-top: 80px;	

}
.smashingTv button{
	width: 25%;
	border-radius: 10px;
	
}
.smashingTv img{
	
	margin-top: 30px; 
}
.smashingTv h6{
text-decoration-line: underline;

}
.smashingTv p{
	font-size: 18px;
	
}

.latest{
	width: 100vh;
	height: 15vh;
	margin-left: 480px;
}
.latest h6{
	margin-top: 80px;
	text-decoration-line: underline;
	font-size: 20px;
}
.june2020{
	background-color: #1b71bb;
	border-radius: 10px;
	margin-left: 35px;
	margin-right: 55px;
	width: 100%;
	height: 130vh;
}
.june2020 button{
	width: 30%;
}
.june2020 h5{
	padding: 25px;
	font-weight: 700;
   font-size: 1.1em;
   color: white;

}
.june2020 span{
	color: white;
	text-shadow: 1px 2px 2px #383636;
   font-size: 3.1em;
   margin-left: 50px;
}
.june2020 p{
	color: white;
	font-size: 25px;
	 margin-left: 100px;

}
.zara a{
	color: blue;

}
.personWeek{
	display: grid;
	grid-template-columns: 20% 60%;
	margin-left: 60px;

	
	
}
.personWeek img{
	margin-top: 47px;
	width: 180px;
		transform-origin: 0 100%;
transition: transform .2s;
transform: rotateZ(-20deg);
	
}
.personWeek img:hover{
	transform: rotate(0);
}
.gridit{
	margin-left: 100px;
	display: inline-grid;
	grid-template-columns: 50% 50%;
	grid-column-gap: 2em;
	grid-row-gap: 7em;
}
.gridit img{
	float: left;
	transform-origin: 0 100%;
transition: transform .2s;
transform: rotateZ(-20deg);

}
.gridit img:hover{
	transform: rotate(0);
}

.gridit h5{
	margin: 5px;
}

.box{
	display: inline-flex;
	background-color:#800000;
	width: 100%;
	margin:30px;
}
.smashingbox{
	height: 380px;

}
.smashingbox h5 {
	color: white;
	margin: 35px;
	font-size: 26px;
}
.smashingbox span {
	color: white;
	margin: 35px;
	font-size: 26px;
	text-decoration-line: underline;
}
.smashingbox p{
	color: white;
	margin: 35px;
}
.smashingbox button{
	margin: 10px;
	width: 35%;
	height: 15%;
}
.designimage{
	position: absolute;
	 right:150px;
	
	transform: scale(.84) translateX(15%) rotateZ(calc(-1 * (11 * 1deg)));
transform-origin: 0 100%;
transition: transform .2s ease-out;
}

.gridit2{
	
	display: inline-grid;
    grid-template-columns: 45% 45%;
	grid-column-gap: 2em;
	grid-row-gap: 7em;
	height: 150vh;
	padding: 2px;
	margin-left: 20px;

}
 .gridit2 button{
	color: white;
	margin-left: 25px;
}
.gridit2 p{
	font-size: 19px;
	margin-left: 25px;
	
}
.gridit2 span{
	font-size: 12px;
	margin-left: 25px;
}

.javaScript button{
	width: auto;
	height: 20%;
	background-color: green;
	border-radius:20px;

}
.javaScript h5{
	color: green;
	margin-left: 20px;
}
.css  h5{
	color: orange;
	margin-left: 20px;
}
.web  h5{
	color: #aa1986;
	margin-left: 20px;
}
.newsletter  h5{
	color: blue;
}
.css button{
	width: auto;
	height: 20%;
	background-color: orange;
	border-radius:20px;
	margin-bottom: 40px;

}
.web button{
	width: auto;
	height: 10%;
	background-color:#aa1986;;
	border-radius:20px;

}
.javaScript{
     
     padding: 5px;
	-moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}
.web{
	padding: 15px;
	 -moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}
.css{
	padding: 5px;
	-moz-box-shadow:    inset 0 0 4px #000000;
   -webkit-box-shadow: inset 0 0 4px #000000;
   box-shadow:         inset 0 0 4px #000000;
}
.newsletter{
	padding: 5px;
	color: white;
 -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
	
}
.newsletter  label{
	text-decoration-line: underline;
	margin-left: 20px;
	font-size: 25px;
}
.newsletter p{
	margin-left: 20px;
}
.newsletter button{
	width:auto;
	background-color: blue; 

}
input{
	margin-left: 30px;
	width: 50%;
}
.links a{

	text-decoration-line: underline;
	color: black;
}
.links{
	margin-top: 120px;
	height:120px;
}
.see a{

	text-decoration-line: underline;
	color: black;
}
.see{
	margin-top: 120px;
	height:120px;
}
.newsletter{
	background-color: blue;
	height: 100%;
}





footer{
	background-color:#800000;
	height: 650px;
	margin: 15px;
	
}
footer h6{
text-align: center;
  margin: 20px;
  color: white;
  font-size: 30px;
}
footer ul li{
	color: white;
	margin-left: 15px;

}
footer a {
	color: white;
	margin-left: 15px;

}
footer p{
	color: white;
}
 .footerimg{
  
 	display: inline-flex;
 	margin: 65px;
  }
  .pup{
  	position: absolute;
  	right: 85px;

  }
  .imgcage{
  	position: absolute;
  	left: 85px;
  }
  .linkwrite{
  	margin-left: 240px;
  }

.smashingTv{
	background-color: #B22222;
	width: 100%;
	height: 650px;
	margin-left: 20px;
	margin-right: 20px;
}
.smashingTv h6{
	color: white;
	font-size: 30px;
	margin-top: 30px;
}
.smashingTv p{
	color: white;
	margin: 30px;
}